<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#training">Kalkulator Treningowy VDOT</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#training">Wyznaczanie intensywności treningu</a></li>
        <li><a href="#tables">Tabele VDOT</a></li>
        <li><a href="#calculator">Kalkulator tempa</a></li>
      </ul>
    </div>
  </div>
</nav>