<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <section id="training">
        <app-training-calc [vdot_results]="vdot_results" [vdot_training]="vdot_training"></app-training-calc>
      </section>
      <section id="tables">
        <app-vdot-tables [vdot_results]="vdot_results" [vdot_training]="vdot_training"></app-vdot-tables>
      </section>
      <section id="calculator">
        <app-pace-calc [vdot_results]="vdot_results"></app-pace-calc>
      </section>
    </div>
  </div>
</div>

<app-footer></app-footer>